<link rel="stylesheet" href="css/iframe.css"></link>
<script src="js/bookmarklet.js"></script>
<a href="" onClick="event.preventDefault();bookmarklet.iFrame().init()" class="buttonBookmark">Button Here</a>
