<html>
    <link rel="stylesheet" href="https://cdn.knightlab.com/libs/purpleline/latest/css/purpleline.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdn.knightlab.com/libs/purpleline/latest/js/purpleline.min.js" ></script>
       <link rel="icon" type="image/png" href="//cdn.knightlab.com/libs/purpleline/latest/img/favicon.ico">
<head>
</head>
<body>
<div data-magellan-expedition="fixed"> <!-- Use this to make the navbar stick to the top. -->
     <!-- Add the class "sticky" to "top-bar" to make the navbar sticky. -->
     <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Pullquote</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><a href="http://knightlab.northwestern.edu/">Northwestern University Knight Lab</a></li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
        </ul>
      </section>
    </nav>
  </div>
  <div class="row">
      <div class="large-12 columns">
          <h1>This is Pullquote.</h1>
          <p>To run the bookmarklet, drag<a href="" onClick="event.preventDefault();bookmarklet.iFrame().init()" class="buttonBookmark">this link</a>to your bookmarks bar.</p>
      </div>
  </div>
  <footer>
      <div class="about-knightlab">
        <div id="knightlab-logo-column">
          <a href="http://knightlab.northwestern.edu" target="_blank"><img src="http://knightlab.northwestern.edu/wp-content/uploads/2014/12/logo_stacked.png" class="img-responsive"></a>
          <ul class="contact-icons">
            <li><a title="follow @knightlab on Twitter" href="http://www.twitter.com/knightlab"><i class="fa fa-twitter"></i></a></li>
            <li><a title="Knight Lab on Facebook" href="//www.facebook.com/knightlab"><i class="fa fa-facebook"></i></a></li>
            <li><a title="email Knight Lab" href="mailto:Knightlab@northwestern.edu"><i class="fa fa-envelope-o"></i></a></li>
            <li><a title="Knight Lab on GitHub" href="//github.com/NUKnightLab/"><i class="fa fa-github-alt"></i></a></li>
          </ul>
        </div>
        <div id="knightlab-description">
          <p>The <a title="Northwestern University" href="http://www.northwestern.edu/" target="_blank">Northwestern University</a> Knight Lab is a team of technologists and journalists working at advancing news media innovation through exploration and experimentation.</p>
          <p>A joint initiative of the <a href="http://www.mccormick.northwestern.edu/" target="_blank">Robert R. McCormick School of Engineering and Applied Science</a> and the<a href="http://www.medill.northwestern.edu/" target="_blank"> Medill School of Journalism, Media, Integrated Marketing Communications</a>.</p><img src="http://knightlab.northwestern.edu/wp-content/uploads/2014/12/Logos-Horizontal.png" class="img-responsive logos">
        </div>
        <div class="contact">
          <address itemscope="" itemtype="http://data-vocabulary.org/Organization">
            <span style="display:none;" itemprop="name" title="Knight Lab | Advancing news media innovation through exploration and experimentation." class="address-name">Knight Lab</span>
            <span itemprop="tel" class="tel">(847) 467-4971 | </span>
            <span itemprop="address" itemscope="" itemtype="http://data-vocabulary.org/Address" class="address">
              <span itemprop="street-address" class="street-address"><a href="//maps.google.com/maps?q=1845+Sheridan+Road+Evanston+IL+6020&hl=en&ll=42.050942,-87.673511&spn=0.003059,0.004898&sll=42.050647,-87.674246&sspn=0.012237,0.019591&gl=us&hnear=1845+Sheridan+Rd,+Evanston,+Cook,+Illinois+60201&t=m&z=18&iwloc=A" target="_blank">1845 Sheridan Road Fisk #109 & #111</span>,
              <span itemprop="locality">Evanston,</span>
              <span itemprop="region">IL</span>
              <span itemprop="postal-code">60208 |</span>
              <span itemprop="country-name" class="address-country">United States</span>
            </span>
            <span style="display:none;" itemprop="geo" itemscope="" itemtype="http://www.data-vocabulary.org/Geo/" class="geo">
              Latitude: <span itemprop="latitude">42.056893</span><br>
              Longitude: <span itemprop="longitude">-87.676735</span>
            </span>
            <a style="display:none;" href="http://knightlab.northwestern.edu" itemprop="url" class="url">Northwestern University Knight Lab | Advancing media innovation through exploration and experimentation.</a>
          </address>
          <span class="copyright">| Copyright 2015, Northwestern University</span>
        </div>
      </div><!-- end .about-knightlab -->
    </footer>
</body>
</html>
