---
title: "Pullquote Render"
---

<div class="kl-quotecomposition" id="kl-quote-comp">
	<div class="kl-quotecomposition-container">
		<div class="kl-quotecomposition-text">
			<blockquote>
				<p id="kl-quote-text"></p>
				<cite id="kl-quote-cite"></cite>
			</blockquote>
		</div>
		<div class="kl-quotecomposition-background"></div>
		<div class="kl-quotecomposition-image" id="kl-quote-image" style="background-image:url(assets/placeholder.jpg);"></div>
	</div>

</div>
{{!-- {{Comments don't seem to work}} --}}
<script src="js/render.js?v10"></script>

