<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}}</title>
        <meta name="keywords" content="">
        <meta name="description" content="">

        <!--[if (gte IE 9) | (IEMobile)]><!-->
        <link rel="stylesheet" href="css/index.css"/>
        <link rel="stylesheet" href="css/pullquote.css"/>
        <!--<![endif]-->

        <script>

        </script>
    </head>
    <body>
      {{{ body }}}
      <script src="/js/index.js"></script>
    </body>
</html>
