<!doctype html>
2	<html class="no-js" lang="en">
3	  <head>
4	    <meta charset="UTF-8">
5	    <meta name="viewport" content="width=device-width, initial-scale=1">
…
22	    <noscript><link href="/icons/icons.fallback.css" rel="stylesheet"></noscript>
23	  </head>
24	  <body>
25	    {{{ body }}}
26	  <script src="/js/index.js"></script>
27	  </body>
28	</html>
