<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}}</title>
        <meta name="keywords" content="">
        <meta name="description" content="">

        <link rel="stylesheet" href="css/base.css"/>
        <link rel="shortcut icon" href="assets/favicon.ico" />
        <link rel="stylesheet" href="https://cdn.knightlab.com/libs/purpleline/latest/css/purpleline.min.css" type="text/css" />
        <link rel="icon" type="image/png" href="//cdn.knightlab.com/libs/purpleline/latest/img/favicon.ico">
        <script type="text/javascript" src="https://cdn.knightlab.com/libs/purpleline/latest/js/purpleline.min.js" ></script>
        </head>

        <script>

        </script>
    </head>
    <body>
        {{{ body }}}
    </body>
</html>
