<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <noscript><link href="/icons/icons.fallback.css" rel="stylesheet"></noscript>
  </head>
  <body>
    {{{ body }}}
    <script src="/js/index.js"></script>
  </body>
</html>
