html, body {
  height: 100% !important;
  margin: 0;
}

/*JS injected styles for iframe*/
.pq--iframe {
  position: absolute;
  height: 100vh;
  width: 100vw;
  border: none;
  padding: 0;
  margin: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.images {
  width: 800px;
  margin: 0 auto;
  padding-top: 4em;
}

.pqImage {
  width: 48%;
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding-bottom: 1em;
}

.pqImage:nth-child(2n) {
  margin-left:1em;
}

img{
  width: 100%;
  height: auto;
}

.closeButton {
  display: block;
  border: none;
  padding: 0.5em;
  background: none;
  font-size: 3em;
  top: 0;
  right: 0.5em;
  position: absolute;
  z-index: 300;
}

.closeButton::after {
  content: '\2715';
  font-size: 0.7em;
  color: grey;
}

.closeButton:hover {
  cursor: pointer;
}

.backdrop{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0.8;
  z-index: 10;
}
